@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  #social a {
    position: relative;
    top: 0;
    transition: top ease 1.5s;
    text-underline-offset: 6px;
  }
  #social a:hover {
    transition: color ease 0.3s;
    top: -3px;
  }
}